<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
            <br><br>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item" *ngFor="let even of evens" [ngClass]="{ even : even % 2 === 0}" [ngStyle]="{ backgroundColor: even % 2 === 0 ? 'yellow' : 'transparent'}">
                        {{even}}
                    </li>
                </div>
                <div *ngIf="!onlyOdd">
                    <li class="list-group-item" *ngFor="let odd of odds" [ngClass]="{ odd : odd % 2 !== 0}" [ngStyle]="{ backgroundColor : odd % 2 !== 0 ? 'blue' : 'transparent'}">
                        {{odd}}
                    </li>
                </div>
                <p appBasicHighlight>Highlight me with green baby!</p>
                <p appBetterHighlight>Highlight me with blue baby!</p>
            </ul>
        </div>
    </div>
</div>
